services:
  app:
    image: node:18.12.0
    working_dir: /app
    ports:
      - "${PORT}:${PORT}"
      - "35729:35729"
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    command: sleep infinity

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_LOG_MIN_MESSAGES: 'warning'
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./src/server/config/db/setup.sql:/docker-entrypoint-initdb.d/setup.sql

    ports:
      - "${POSTGRES_PORT}:5432"

volumes:
  postgres-data:
