@font-face {
    font-family: 'Eb Garamond';
    src: url('EB_Garamond/EBGaramond-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('Alegreya_Sans_SC/AlegreyaSansSC-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans SC'; 
    src: url('Alegreya_Sans_SC/AlegreyaSansSC-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}