@import url('../../vars.less');
.modal-overlay {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.26);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: showOverlay 0.3s;
    .modal{
        width: 70%;
        height: 85%;
        animation: showModal 0.5s;
        background-color: #ffffff;
        display: flex;
        flex-flow: row wrap;

        .modal__imgs{
            width: 55%;
            height: 100%;
        }
        .modal__content{
            width: 45%;
            height: 100%;
            background-color: red;
        }
    }

    .hidde{
        animation: hiddeModal 0.5s;
        transform: translateX(20px);
        opacity: 0;
    }
}

.hidde{
    animation: hiddeOverlay 0.3s;
    background-color: rgba(0, 0, 0, 0);
}

@keyframes showOverlay{
    from{
        background-color: rgba(0, 0, 0, 0);
    }

    to{
        background-color: rgba(0, 0, 0, 0.26);
    }
}
@keyframes showModal{
    from{
        transform: translateX(20px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes hiddeOverlay{
    from{
        background-color: rgba(0, 0, 0, 0.26);
    }

    to{
        background-color: rgba(0, 0, 0, 0);
    }
}

@keyframes hiddeModal{
    from{
        transform: translateX(0px);
        opacity: 1;
    }
    to{
        transform: translateX(20px);
        opacity: 0;
    }
}