@import url('../../../vars.less');

.TrolleyDrawer{
    width: 25dvw;
    height: calc(100dvh - 80px);
    top:80px;
    right: 0;
    position: fixed;
    z-index: 3;
    background-color: @color-primary;
    box-shadow: -4px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-flow: column nowrap;
    
    .TrolleyDrawer__products{
        height: 80%;
        width: 100%;
        overflow-y: auto;
    }


    .TrolleyDrawer__actions{
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        .button{
            width: 40%;
            margin: 10px;
        }
    }


}



