.modal-overlay {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.26);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: showOverlay 0.3s;
    .modal{
        width: 70%;
        max-width: 950px;
        height: 85%;
        max-height: 600px;
        animation: showModal 0.5s;
        background-color: #ffffff;
        display: flex;
        flex-flow: row wrap;

        .modal__imgs{
            width: 65%;
            height: 100%;
            overflow: hidden;
        }
        .modal__content{
            width: calc(35% - 40px);
            padding: 20px;
            height:calc(100% - 40px);;
            background-color:@color-primary;


            .modal__content_name{
                font-size: @font-xxl;
                font-weight: bold;
                color: @color-black-ligth;
            }

            .modal__content_price{
                font-size: @font-xl;
                color: @color-black-ligth;
            }

            .modal__content_sku{
                font-size: @font-small;
                color: #c2b2b2;
                font-weight: bold;
            }

            .modal__content_section{
                display: flex;
                flex-flow: row wrap;
                gap: 20px;
                .modal__content_section_color{
                    font-size: @font-medium;
                    display: flex;
                    flex-flow: column wrap;
                    gap: 10px;
                }

                .modal__content_section_stock{
                    font-size: @font-medium;
                    display: flex;
                    flex-flow: column wrap;
                    gap: 10px;
                    p{
                        margin: 0;
                        padding: 0;
                    }
                }
            }

            .modal__content_section_buttons{
                width: 100%;
                margin-top: 10px;
                
                & > .button{
                    margin: 10px auto;
                }
                
            }




        }
    }

    .hidde{
        animation: hiddeModal 0.5s;
        transform: translateX(20px);
        opacity: 0;
    }
}

.hidde{
    animation: hiddeOverlay 0.3s;
    background-color: rgba(0, 0, 0, 0);
}

@keyframes showOverlay{
    from{
        background-color: rgba(0, 0, 0, 0);
    }

    to{
        background-color: rgba(0, 0, 0, 0.26);
    }
}
@keyframes showModal{
    from{
        transform: translateX(20px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes hiddeOverlay{
    from{
        background-color: rgba(0, 0, 0, 0.26);
    }

    to{
        background-color: rgba(0, 0, 0, 0);
    }
}

@keyframes hiddeModal{
    from{
        transform: translateX(0px);
        opacity: 1;
    }
    to{
        transform: translateX(20px);
        opacity: 0;
    }
}


@media(max-width:1200px){
    .modal-overlay {
        .modal{
            width: 90%;
            height: 85%;
        }
    }
}