.cart_product{
    width: calc(100% - 32px);
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    position: relative;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;


    & .cart_product__info{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
    }
    
    & .cart_product__info__text{
        padding-top: 10px;
    }

    & .cart_product__img{
        width: 80px;
        height: 80px;
        object-fit: contain;
    } 

    & .cart_product__title{
        color: @ui-text-main;
        font-family: @font-heading;
    }

    & .cart_product__sku,.cart_product__version , .cart_product__count{
        color: @ui-text-muted;
        font-size:  @text-sm;
        font-family: @font-body;
    }


    & .cart_product__actions{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        gap: 10px;

    }

    & .cart_product__button{        
        border-radius: 5px;
        background-color: @brand-secondary;
        text-decoration: none;
        outline: none;
        border: none;
        width: 30px;
        height: 30px;
        cursor: pointer;

        transition: all 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            color: fade(@brand-dark,70%);
        }
    }


}


    



