@import url('../../vars.less');

.button{
    width: 80%;
    margin: auto;
    padding: 7px 0px;
    text-align: center;
    border: none;
    color: #ffffff;
    background-color:@color-black-ligth;
    cursor: pointer;
    transition: all 0.5s;
    text-decoration: none;
    display: block;
    transform: translateY(10px);

}