@import url("./public/normalice.less");
@import url("./public/transitionAnimation.less");
@import './public/fonts/fonts.less';


body{
    .font-face-primary
}

#root{
    position: relative;
}

.main{
    position: relative;
    margin-top: 80px;
}

