@import url("./vars.less");
@import url("./public/normalice.less");
@import url("./public/transitionAnimation.less");

#root{
    position: relative;
}

.main{
    position: relative;
    margin-top: 80px;
}

