//@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

//Vars
@color-black: rgba(18,18,18);
@color-black-ligth: rgb(40,40,40);
@color-hover: #999997;

.font-face-bold_2{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.font-face-ligth{
    .font-face-bold_2;
    font-weight: 400;
}
