@import './public/fonts/fonts.less';

// Vars
@color-black: rgba(18,18,18);
@color-black-hover: #999997;
@color-black-active: #999997;
@color-black-ligth: rgb(40,40,40);

@color-primary:#ffffff;
@color-secondary:@color-primary;

// Vars fonts
@font-xs: 10px;        
@font-small: 12px;     
@font-medium: 16px;    
@font-large: 18px;     
@font-xl: 20px;        
@font-xxl: 24px;       
@font-xxxl: 30px; 



.font-face-primary{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-face-secondary{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
